.background-color {
  background-color: #f4f4f4 !important;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4 !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  font-family: "Roboto" !important;
  padding: 0 !important;
  font-size: 13px;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 20px;
  background-color: #ffffff;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

:where(.css-dev-only-do-not-override-1e3x2xa)[class^="ant-layout"],
:where(.css-dev-only-do-not-override-1e3x2xa)[class*=" ant-layout"] {
  font-family: "Roboto", sans-serif !important;
}

/* For Table pagination  */
.ant-pagination .ant-pagination-item-active {
  font-weight: 400;
  background-color: #096fed;
  /* border-color: #1677ff; */
  color: #fff;
  border-radius: 2px;
  height: 38px;
  width: 40px;
  display: grid;
  align-items: center !important;
  /* padding: 0px 6px; */
  border: 1px solid #000;
}

.ant-pagination .ant-pagination-item-active:hover {
  background-color: #808285;
  border: 1px solid #000;
  color: #fff;
}

/* .ant-table-wrapper .ant-table-container {
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
  border-bottom: 2px solid #5a5a5a !important;
} */
:where(.css-dev-only-do-not-override-1e3x2xa).ant-table-wrapper
  .ant-table
  .ant-table-title,
:where(.css-dev-only-do-not-override-1e3x2xa).ant-table-wrapper
  .ant-table
  .ant-table-header {
  border-radius: 0;
}

/* .modal {
  --bs-modal-width: 500px;
} */
/* .container-fluid {
  --bs-gutter-x: 15px !important;
  height: 52px;
} */
